<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>Hotel Booking App</title>
    <!--
        An href attribute tells where to look for bootstrap when running index.html directly (useful for designers)
        This will not work on a server since the path is different to our local path.
        Thymeleaf tag th:href is used to tell server where to look for bootstrap
    -->
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
  </head>
  <body>
<!--<span class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}">Signed in as Anonymous</span>-->
<!--<span class="text-muted" th:text="'Page was rendered ' + ${#dates.format(datetime, 'HH:mm dd.MM.yyyy')}">Page was rendered today</span>-->
  </body>
</html>