<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>Hotel Booking app</title>
    <!--
        An href attribute tells where to look for bootstrap when running index.html directly (useful for designers)
        This will not work on a server since the path is different to our local path.
        Thymeleaf tag th:href is used to tell server where to look for bootstrap
    -->
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">One <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Two</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Three</a>
            </li>
          </ul>
          <span class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}">
                    Signed in as Anonymous
                </span>
        </div>
      </nav>
    </header>
      Hello Bootstrap!
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted" th:text="'Page was rendered ' + ${#dates.format(datetime, 'HH:mm dd.MM.yyyy')}">Page was rendered today</span>
      </div>
    </footer>
  </body>
</html>